<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intramirror.order.core.mapper.OrderExceptionMapper">
  
   
   <insert id="saveOrderComments" parameterType="java.util.Map">
   INSERT INTO order_exception(logistics_product_id,comments,order_exception_type_id,`status`,created_at,created_by_user_id,cancel_file)
	VALUE(#{logistics_product_id,jdbcType=BIGINT},#{comments,jdbcType=VARCHAR},#{order_exception_type_id,jdbcType=VARCHAR},#{status,jdbcType=BIGINT},
	#{created_at,jdbcType=TIMESTAMP},#{created_by_user_id,jdbcType=BIGINT},#{cancel_file,jdbcType=LONGVARCHAR})
   </insert>
   
     <update id="updateOrderException" parameterType="java.util.Map">
        update order_exception
        <set>
            <if test="status != null">
                status = #{status,jdbcType=BIGINT},
            </if>
            <if test="modified_at != null">
                modified_at = #{modified_at,jdbcType=TIMESTAMP},
            </if>
            <if test="modified_by_user_id != null">
                modified_by_user_id = #{modified_by_user_id,jdbcType=BIGINT},
            </if>
            <if test="resolution != null">
                resolution = #{resolution,jdbcType=VARCHAR},
            </if>
        </set>
        where order_exception_id = #{order_exception_id,jdbcType=BIGINT}
    </update>
</mapper>