<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intramirror.product.core.mapper.ContentManagementMapper">
    <select id="listTagProductInfo" resultType="java.util.Map">
        SELECT
            product.product_id,
            product.cover_img,
            brand.english_name,
            tag_product_rel.sort_num
        FROM tag_product_rel
            INNER JOIN product ON tag_product_rel.product_id = product.product_id AND product.enabled = TRUE
            INNER JOIN brand ON brand.brand_id = product.brand_id AND brand.enabled = TRUE
        WHERE tag_product_rel.tag_id = #{tagId};
    </select>
</mapper>