<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intramirror.product.core.mapper.ContentManagementMapper">
    <select id="listTagProductInfo" resultType="java.util.Map">
        SELECT
            product.product_id,
            product.cover_img,
            brand.english_name,
            tag_product_rel.sort_num
        FROM tag_product_rel
            INNER JOIN product ON tag_product_rel.product_id = product.product_id AND product.enabled = TRUE
            INNER JOIN brand ON brand.brand_id = product.brand_id AND brand.enabled = TRUE
        WHERE tag_product_rel.tag_id = #{tagId};
    </select>
    <select id="getTagAndBlockRelByTagId" resultType="java.util.Map">
        SELECT
            tag.tag_id,
            block_tag_rel.block_tag_id,
            block_tag_rel.block_id
        FROM tag
            LEFT JOIN block_tag_rel ON tag.tag_id = block_tag_rel.tag_id
        WHERE tag.tag_id = #{tagId} AND tag.enabled = TRUE;
    </select>
    <select id="listUnbindTag" resultType="map">
        SELECT
            tag.tag_id,
            tag.tag_name
        FROM tag
            LEFT JOIN block_tag_rel ON tag.tag_id = block_tag_rel.tag_id
        WHERE tag.enabled = TRUE AND block_tag_rel.block_tag_id IS NULL;
    </select>
</mapper>