<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intramirror.product.core.mapper.ContentManagementMapper">
    <select id="listTagProductInfo" resultType="java.util.Map">
        SELECT
            product.product_id,
            product.cover_img,
            brand.english_name,
            tag_product_rel.sort_num
        FROM tag_product_rel
            INNER JOIN product ON tag_product_rel.product_id = product.product_id AND product.enabled = TRUE
            INNER JOIN brand ON brand.brand_id = product.brand_id AND brand.enabled = TRUE
        WHERE tag_product_rel.tag_id = #{tagId};
    </select>
    <select id="getTagAndBlockRelByTagId" resultType="java.util.Map">
        SELECT
            tag.tag_id,
            block_tag_rel.block_tag_id,
            block_tag_rel.block_id
        FROM tag
            LEFT JOIN block_tag_rel ON tag.tag_id = block_tag_rel.tag_id
        WHERE tag.tag_id = #{tagId} AND tag.enabled = TRUE;
    </select>
    <select id="listUnbindTag" resultType="map">
        SELECT
        tag.tag_id,
        tag.tag_name
        FROM tag
        LEFT JOIN block_tag_rel ON tag.tag_id = block_tag_rel.tag_id
        WHERE tag.enabled = TRUE AND (block_tag_rel.block_tag_id IS NULL
        <if test="blockId != null">
            OR block_tag_rel.block_id = #{blockId}
        </if>
        );
    </select>

    <select id="listTagsByProductIds" resultType="map">
        SELECT
        tag.tag_id,
        tag_product_rel.product_id,
        tag.tag_name
        FROM tag
        INNER JOIN tag_product_rel ON tag.tag_id = tag_product_rel.tag_id
        WHERE tag_product_rel.product_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.product_id}
        </foreach>
        AND tag.enabled = TRUE;
    </select>


    <select id="listBlockWithTag" resultType="map">
        SELECT
            block_id,
            block_name,
            status,
            title,
            create_at,
            modified_at,
            content,
            bg_color,
            sort_order,
            subtitle,
            title_english,
            tag.tag_id,
            tag_name
        FROM `block`
            LEFT JOIN block_tag_rel ON block_tag_rel.block_id = block.block_id
            LEFT JOIN tag ON block_tag_rel.tag_id = tag.tag_id AND tag.enabled = TRUE
        WHERE `block`.enabled = TRUE
    </select>

    <select id="getBlockWithTagByBlockId" resultType="map">
        SELECT
            `block`.block_id,
            `block`.block_name,
            `block`.status,
            `block`.title,
            `block`.create_at,
            `block`.modified_at,
            `block`.content,
            `block`.bg_color,
            `block`.sort_order,
            `block`.subtitle,
            `block`.title_english,
            tag.tag_id,
            tag_name
        FROM `block`
            LEFT JOIN block_tag_rel ON block_tag_rel.block_id = block.block_id
            LEFT JOIN tag ON block_tag_rel.tag_id = tag.tag_id AND tag.enabled = TRUE
        WHERE `block`.block_id = #{block_id,jdbcType=BIGINT} AND `block`.enabled = TRUE
    </select>


    <select id="listTagProductIds" resultType="long">
        SELECT product.product_id
        FROM tag_product_rel
            INNER JOIN product ON product.product_id = tag_product_rel.product_id AND product.enabled = TRUE
        WHERE tag_id = #{tagId}
    </select>

    <select id="listAllTagProductIds" resultType="long">
        SELECT product.product_id
        FROM tag_product_rel
            INNER JOIN product ON product.product_id = tag_product_rel.product_id AND product.enabled = TRUE
    </select>
</mapper>