<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.intramirror.product.core.mapper.ProductManagementMapper">

    <select id="listProductDetailInfo" parameterType="com.intramirror.product.api.model.SearchCondition" resultType="java.util.HashMap">
        SELECT
        product.product_id,
        shop_product.shop_product_id,
        product.status AS product_status,
        shop_product.status AS shop_product_status,
        brand.english_name AS brand_name,
        vendor.vendor_name AS boutique,
        product.product_code AS boutique_id,
        product.season_code AS season_code,
        product.cover_img,
        product.description_img,
        product.category_id,
        <if test="stock != null and stock != 0">
            view_prod_store_sum.store AS totalStore,
        </if>
        product.designer_id AS designer_id,
        product.color_code AS color_code
        FROM product
        LEFT JOIN shop_product ON shop_product.shop_id = 65 AND shop_product.enabled = TRUE AND shop_product.product_id = product.product_id
        INNER JOIN vendor ON product.vendor_id = vendor.vendor_id AND product.enabled = TRUE
        INNER JOIN brand ON brand.brand_id = product.brand_id AND brand.enabled = TRUE
        <if test="stock != null and stock != 0">
            INNER JOIN view_prod_store_sum ON view_prod_store_sum.product_id = product.product_id
        </if>
        WHERE
        <choose>
            <when test="status == 2 or status == 4">
                product.status IN (4,2)
            </when>
            <otherwise>
                product.status = #{status}
            </otherwise>
        </choose>
        <choose>
            <when test="shopStatus == -1">
                AND shop_product.status IS NULL
            </when>
            <otherwise>
                AND shop_product.status = #{shopStatus}
            </otherwise>
        </choose>
        <choose>
            <when test="stock == null or stock == 0">

            </when>
            <when test="stock == 1">
                AND view_prod_store_sum.store > 0
            </when>
            <otherwise>
                AND view_prod_store_sum.store &lt;= 0
            </otherwise>
        </choose>
        <if test="brandId != null">
            AND brand.brand_id = #{brandId}
        </if>
        <if test="categoryId != null">
            AND product.category_id IN
            <foreach item="item" index="index" collection="categoryId" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="season != null">
            AND product.season_code = #{season}
        </if>
        <if test="boutiqueId != null">
            AND product.product_code = #{boutiqueId}
        </if>
        <if test="vendorId != null">
            AND vendor.vendor_id = #{vendorId}
        </if>
        <choose>
            <when test="image == null or image == 0">

            </when>
            <when test="image == 1">
                AND (product.cover_img IS NOT NULL AND product.description_img != NULL )
            </when>
            <otherwise>
                AND (product.cover_img IS NULL OR product.description_img IS NULL )
            </otherwise>
        </choose>
        <choose>
            <when test="modelImage == null or modelImage == 0">

            </when>
            <when test="modelImage == 1">
                AND product.img_modified = 1
            </when>
            <otherwise>
                AND product.img_modified = 0
            </otherwise>
        </choose>
        <choose>
            <when test="streetImage == null or streetImage == 0">

            </when>
            <when test="streetImage == 1">

            </when>
            <otherwise>

            </otherwise>
        </choose>
        <if test="designerId != null">
            AND product.designer_id LIKE "%"#{designerId}"%"
        </if>
        <if test="colorCode != null">
            AND product.color_code = #{colorCode}
        </if>

        <if test="orderBy != null">
            ORDER BY
            <choose>
                <when test="orderBy == 'boutique'">
                    vendor.vendor_name
                </when>
                <when test="orderBy == 'boutiqueId'">
                    product.product_code
                </when>
                <when test="orderBy == 'season'">
                    product.season_code
                </when>
                <when test="orderBy == 'designIdAndColorCode'">
                    CONCAT(product.designer_id, product.color_code)
                </when>
                <otherwise>
                    product.product_id
                </otherwise>
            </choose>
            <if test="desc == 1">
                DESC
            </if>
        </if>

        LIMIT #{start}, #{count};
    </select>

    <select id="getProductStateByProductId" parameterType="Long" resultType="java.util.HashMap">
        SELECT
            product.product_id,
            product.status      AS product_status,
            shop_product.status AS shop_product_status
        FROM product
            LEFT JOIN shop_product ON product.product_id = shop_product.product_id AND shop_product.shop_id = 65 AND shop_product.enabled = 1
        WHERE product.product_id = #{product_id} AND product.enabled = TRUE;
    </select>

    <select id="listProductStateByProductIds" resultType="java.util.HashMap">
        SELECT
        product.product_id,
        shop_product.shop_product_id,
        product.status AS product_status,
        shop_product.status AS shop_product_status
        FROM product
        LEFT JOIN shop_product ON product.product_id = shop_product.product_id AND shop_product.shop_id = 65 AND shop_product.enabled = 1
        WHERE product.product_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND product.enabled = TRUE ;
    </select>
    <select id="listPriceByProductList" parameterType="java.util.List" resultType="java.util.Map">
        SELECT
        sku.sku_id,
        CONVERT(sku.price,DECIMAL(10,2)) AS retail_price,
        CONVERT(sku.in_price,DECIMAL(10,2)) AS boutique_price,
        CONVERT(sku.im_price,DECIMAL(10,2)) AS im_price,
        CONVERT(shop_product_sku.sale_price,DECIMAL(10,2)) AS sale_price,
        sku.product_id
        FROM sku
        LEFT JOIN shop_product_sku ON ( shop_product_sku.sku_id = sku.sku_id AND shop_product_sku.enabled = TRUE )
        WHERE (sku.product_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item.product_id}
        </foreach>
        AND sku.enabled = 1)
        GROUP BY sku.product_id
    </select>

    <select id="listAllProductCountGounpByState" parameterType="com.intramirror.product.api.model.SearchCondition" resultType="Map">
        SELECT
        product.status AS product_status,
        shop_product.status AS shop_product_status,
        COUNT(product.status) AS count
        FROM product
        LEFT JOIN shop_product ON shop_product.product_id = product.product_id AND shop_product.enabled = TRUE
        <if test="brandId != null">
            INNER JOIN brand ON brand.brand_id = product.brand_id AND brand.enabled = TRUE
        </if>
        <if test="vendorId != null">
            INNER JOIN vendor ON product.vendor_id = vendor.vendor_id AND product.enabled = TRUE
        </if>

        WHERE product.enabled = TRUE
        <choose>
            <when test="stock == null or stock == 0">

            </when>
            <when test="stock == 1">
                AND view_prod_store_sum.store > 0
            </when>
            <otherwise>
                AND view_prod_store_sum.store &lt;= 0
            </otherwise>
        </choose>
        <if test="brandId != null">
            AND brand.brand_id = #{brandId}
        </if>
        <if test="categoryId != null">
            AND product.category_id IN
            <foreach item="item" index="index" collection="categoryId" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="season != null">
            AND product.season_code = #{season}
        </if>
        <if test="boutiqueId != null">
            AND product.product_code = #{boutiqueId}
        </if>
        <if test="vendorId != null">
            AND vendor.vendor_id = #{vendorId}
        </if>
        <choose>
            <when test="image == null or image == 0">

            </when>
            <when test="image == 1">
                AND (product.cover_img IS NOT NULL AND product.description_img != NULL )
            </when>
            <otherwise>
                AND (product.cover_img IS NULL OR product.description_img IS NULL )
            </otherwise>
        </choose>
        <choose>
            <when test="modelImage == null or modelImage == 0">

            </when>
            <when test="modelImage == 1">
                AND product.img_modified = 1
            </when>
            <otherwise>
                AND product.img_modified = 0
            </otherwise>
        </choose>
        <choose>
            <when test="streetImage == null or streetImage == 0">

            </when>
            <when test="streetImage == 1">

            </when>
            <otherwise>

            </otherwise>
        </choose>
        <if test="designerId != null">
            AND product.designer_id LIKE "%"#{designerId}"%"
        </if>
        <if test="colorCode != null">
            AND product.color_code = #{colorCode}
        </if>

        <if test="orderBy != null">
            ORDER BY
            <choose>
                <when test="orderBy == 'boutique'">
                    vendor.vendor_name
                </when>
                <when test="orderBy == 'boutiqueId'">
                    product.product_code
                </when>
                <when test="orderBy == 'season'">
                    product.season_code
                </when>
                <when test="orderBy == 'designIdAndColorCode'">
                    CONCAT(product.designer_id, product.color_code)
                </when>
                <otherwise>
                    product.product_id
                </otherwise>
            </choose>
            <if test="desc == 1">
                DESC
            </if>
        </if>
        GROUP BY product.status, shop_product.status;
    </select>

    <select id="listShopProductIdMappingByProductIds" resultType="Map">
        SELECT
        product.status AS product_status,
        shop_product.status AS shop_product_status,
        COUNT(product.status) AS count
        FROM product
        LEFT JOIN shop_product ON shop_product.product_id = product.product_id AND shop_product.enabled = TRUE
        WHERE product.product_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND product.enabled = TRUE ;
    </select>

</mapper>