<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intramirror.product.core.mapper.SkuMapper">
    <resultMap id="BaseResultMap" type="com.intramirror.product.api.model.Sku">

        <id column="sku_id" property="skuId" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="coverpic" property="coverpic" jdbcType="LONGVARCHAR"/>
        <result column="introduction" property="introduction" jdbcType="LONGVARCHAR"/>
        <result column="in_price" property="inPrice" jdbcType="DECIMAL"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="selectColumn">
    sku_id, product_id, sku_code, name,coverpic, introduction, in_price, price, created_at, updated_at, enabled,
    retail_price
  </sql>
    <sql id="selectTable">
    sku s
  </sql>

    <select id="getSkuBySkuCodeAndEnabled" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"/>
        FROM
        <include refid="selectTable"/>
        WHERE
        s.sku_code=#{skuCode}
        AND
        s.enabled=#{enabled}
    </select>

    <select id="getSkuInfoBySkuId" resultType="java.util.HashMap">
        SELECT s.in_price,s.price, sps.sale_price, s.im_price
        FROM sku s LEFT JOIN shop_product_sku sps ON sps.sku_id = s.sku_id
        WHERE sps.shop_product_sku_id = #{shopProductSkuId}
    </select>

    <select id="getSkuById" resultMap="BaseResultMap">
        SELECT
        <include refid="selectColumn"/>
        FROM
        <include refid="selectTable"/>
        WHERE
        s.sku_id=#{skuId}
        AND
        s.enabled=1
    </select>
    

    <select id="getSkuInfoBySkuCode" resultType="java.util.HashMap" parameterType="java.util.Map">
    SELECT s.sku_id,s.sku_code,p.product_id,p.product_code,pspv.`value` as size 
	FROM sku s
	INNER JOIN sku_property skup on (skup.sku_id = s.sku_id and skup.enabled = 1)
	INNER JOIN product p ON (s.product_id = p.product_id and p.enabled = 1)
	INNER JOIN product_sku_property_key pspk ON (
	pspk.product_id = p.product_id
	and pspk.product_sku_property_key_id = skup.product_sku_property_key_id
	and pspk.enabled = 1
	) 
	INNER JOIN product_sku_property_value pspv ON (
	pspv.product_sku_property_key_id = skup.product_sku_property_key_id
	and pspv.product_sku_property_value_id = skup.product_sku_property_value_id
	and pspv.enabled = 1
	) 
	INNER JOIN vendor v ON (p.vendor_id = v.vendor_id and v.enabled = 1)
	
	WHERE v.vendor_id = #{vendorId,jdbcType=BIGINT}  AND s.sku_code =#{skuCode};

</select>

</mapper>