<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context-2.5.xsd
    	http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd ">

    <!-- 启用spring mvc 注解 
    <context:annotation-config />-->
    
	<!-- start spring 自动注解,及解决ReponseBody中文乱码问题 -->
	<mvc:annotation-driven>
        <mvc:message-converters>
            <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=utf-8</value>
                        <value>text/html;charset=UTF-8</value>
                        <value>text/json;charset=UTF-8</value>
                        <value>application/json;charset=utf-8</value>
                    </list>
                </property>
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
	<!-- end spring 自动注解,及解决ReponseBody中文乱码问题 -->
	
    <!-- 设置使用注解的类所在的jar包，这里必须排除扫描service层的组件 -->
    <context:component-scan base-package="com.intramirror">
          <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" /> 
    </context:component-scan>

	<!--设置登录拦截器 -->  
    <mvc:interceptors>  
        <mvc:interceptor>  
            <mvc:mapping path="/*.htm" />  
            <mvc:mapping path="/*/*.htm" />   
            <bean class="com.intramirror.web.interceptor.LoginInterceptor"/>  
        </mvc:interceptor>  
    </mvc:interceptors> 
    
	<!-- 配置转义符 -->
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	
	<!--引入属性文件 -->
    <context:property-placeholder location="classpath:/commons.properties"/>

	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<description>freemarker config</description>
		<property name="templateLoaderPath" value="/WEB-INF/views/" />
		<!-- 配置全局变量 -->
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
				<entry key="css_suffix" value="${css_suffix}"/>
				<entry key="js_suffix" value="${js_suffix}"/>
				<entry key="baseUrl" value="${baseUrl}"/>
				<entry key="jscssdate_format" value="yymmdd"></entry>
			</map>
		</property>
	</bean>
	
	<!-- frremarker 视图解析 -->
	<bean id="freemakerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
		<property name="viewNames">
			<array>
				<value>*.ftl</value>
			</array>
		</property>
		<property name="contentType" value="text/html; charset=utf-8" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="requestContextAttribute" value="request" />
		<property name="cache" value="true" />
		<property name="order" value="1" />
	</bean>
</beans>