<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intramirror.user.core.mapper.PasswordMailMapper">

    <select id="getNewPasswordMail" resultType="com.intramirror.user.api.model.PasswordMail">
      SELECT * from password_mail where email=#{email} and create_date=(SELECT MAX(create_date) from password_mail where email=#{email})
    </select>
    <update id="updateIschange">
        update password_mail set is_change=1 where password_mail_id=#{id}
    </update>
    <insert id="insert" parameterType="com.intramirror.user.api.model.PasswordMail">
        INSERT INTO password_mail(email,url,create_date,is_change)VALUES(#{email},#{url},#{create_date},#{is_change})
    </insert>

</mapper>